body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: #f2efe3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-component{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #deddd4;
    border-radius: 20px;
}

.select-verb{
    height: auto;
    width: 10em;
}
.select-verb > label {
    background: #deddd4 !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.inputs-form{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-actions{
    width: 20em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#animationContent{
    width: 10em;
}

.btn-check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10em;
}

.btn-check >  .btn-title{
    margin: 0px;
    font-size: 2em;
    font-weight: 600;
    color: gold;
    text-shadow: 1px 1px 1px rgb(66, 58, 14), 2px 2px 3px rgba(66, 58, 14, 0.37);
}

.btn-check > #animationContentStar{
    width: 8em;  
}

